<form (ngSubmit)="onSubmit()" #regform="ngForm" class="form">
  <input type="text" name="FullName" ngModel placeholder="Full Name" #Fname = "ngModel" required pattern="^[a-zA-Z ]+$">
  <small *ngIf="Fname.invalid && Fname.touched">*Name must comtain only letter</small>

  <input type="email" name="Email" ngModel placeholder="Email" #Email="ngModel" required email>
  <small *ngIf="Email.invalid && Email.touched">*Email is not Valid</small>


  <input type="password" name="Password" ngModel placeholder="Password" #pas="ngModel" required minlength="8">  
  <small *ngIf="pas.invalid && pas.touched">*Password must contain at least 8 characters</small>
  <input type="password" name="ConfirmPassword" ngModel #conPas="ngModel" placeholder="Confirm Password" required pattern="{{pas.value}}">
  <small *ngIf="conPas.invalid && conPas.touched">*password does not match</small>
  <input type="submit" name="submit" [disabled]="Fname.invalid || Email.invalid || pas.invalid || conPas.invalid">
  <div>
    <ul>
      <li>Full Name: {{fullname}}</li>
      <li>Email: {{email}} </li>
    </ul>
  </div>
</form>

